<div id="banner" class="row">
	<div id="breadcrumb">
		jBBS > virus
	</div>
	<div id="banner_controls">
		<a href="#">Request Mod</a>
		<a href="#">Report Abuse</a>
	</div>
</div>

<div class="row">
	<div id="posts">
		<table>
			<tr>
				<th width="5%">Views</th>
				<th width="5%">Replies</th>
				<th width="70%">Title</th>
				<th width="10%">Author</th>
				<th width="10%">Last Post</th>
			</tr>
			<tr>
				<td>12</td>
				<td>3</td>
				<td>First Post</td>
				<td>james_miao</td>
				<td>11:33  201.12.12.*</td>
			</tr>
			<tr>
				<td>12</td>
				<td>3</td>
				<td>First Post</td>
				<td>james_miao</td>
				<td>11:33  201.12.12.*</td>
			</tr>
			<tr>
				<td>12</td>
				<td>3</td>
				<td>First Post</td>
				<td>james_miao</td>
				<td>11:33  201.12.12.*</td>
			</tr>
			<tr>
				<td>12</td>
				<td>3</td>
				<td>First Post</td>
				<td>james_miao</td>
				<td>11:33  201.12.12.*</td>
			</tr>
		</table>
	</div>

	<div id="sidebar">
		<div class="box" id="announcement">
			<div class="box_title">Announcement</div>
			<div class="box_content">
				Rules:<br/>
				1) You don't talk about fight club<br/>
				2) You DON'T talk about fight club
			</div>
		</div>
		<div class="box" id="description">
			<div class="box_title">About Virus</div>
			<div class="box_content">
				This is a demo sub
			</div>
		</div>
		<div class="box" id="related_sub">
			<div class="box_title">Related Sub</div>
			<div class="box_content">
				<ul>
					<li><a href="#">ooge</a></li>
					<li><a href="#">ooge</a></li>
					<li><a href="#">ooge</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>